

/* start navbar */ 
#header 
{
    background: #fff;
    transition: all 0.5s;
    box-shadow: 0px 0 18px rgba(55, 66, 59, 0.08);
}
#header .logo a 
{
    color: #3FBFC0 ;
}
#header .logo img
{
    width: 160px;
    max-height: 70px;
}
.nav-menu ul
{
    display: flex;
    margin-left: 400px;
}
.nav-menu ul li 
{
    position: relative;
    white-space: nowrap;
    padding: 0 10px 0 10px;
    list-style: none ;
}
.nav-menu a 
{
    display: block;
    position: relative;
    color: #37423b;
    transition: 0.3s;
    font-size: 15px;
    font-weight: 600;
}
.nav-menu a:hover , .nav-menu .active > a , .nav-menu li:hover > a 
{
    color: #3FBFC0 !important ;
}
.nav-menu li.active a
{
    color: #3FBFC0 ;
}
.navbar-nav .register
{
    width: 100px;
    text-align: center;
    background: #3FBFC0;
    color: #fff !important ;
    border-radius: 50px;
    padding: 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    display: inline-block;
    font-weight: 400 ;
} 
.navbar-nav .register:hover 
{
    background: #37b1b1 ;
    color: #fff !important ;
}
.navbar-nav i
{
    font-size: 22px;
}
/* end navbar  */ 


/* start login */ 
body 
{
    font-family: Arial, Helvetica, sans-serif;   
}
.modal 
{
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 60px;
}
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 80%; 
}
.img-container {
  text-align: center;
  margin-top: 25px;
  position: relative;
}
img.avatar 
{
  width: 25%;
  height: 35%;
  border-radius: 50%;
}
input[type=text], input[type=password] 
{
  width: 70%;
  padding: 12px 20px;
  margin: 8px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}
.login , .btn-form
{
  background-color: #3FBFC0;
  color: #fff  ;
  padding: 7px 20px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  width: 100px;
  transition: 0.3s;
}
.btn-form
{
  margin-left: 42% !important;
  margin-top: 20px;
  margin-bottom: 20px;
}
.login:hover , .btn-form:hover
{
  background-color: #37b1b1;
}
.btn-form a
{
    color: #fff ;
}
.btn-form a:hover
{
    text-decoration : none;
    color: #fff ;
}
span.psw 
{
  float: right;
}
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: red !important;
  cursor: pointer;
}
.animate 
{
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}  
@-webkit-keyframes animatezoom 
{
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
@keyframes animatezoom 
{
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
  
/* end login */ 


/*  start about-us  */ 
.about-us
{
    color: white ; 
    background-color: #3FBFC0;
    padding : 25px 10px ;
    text-align: center ;
    margin-top: 95px;
}
/* end about-us  */ 


/*  start about and image  */ 
.about , .image
{
    float: left;
    margin-top: 70px;
}
.about .head
{
    color: rgb(156, 154, 154) ;
    letter-spacing: 2px;
    font-weight: 600;
}
.about .line 
{
    width: 120px ;
    height: 1px ;
    margin-left: 20px ;
    display: inline-block ;
    background-color: #3FBFC0 ;
}
.about h2 
{
    padding-top: 10px;
    padding-bottom: 40px;
    font-weight: bold;
    font-size: 40px;
}
.about p , .about h2 , .about span , .about h3 
{
    max-width: 500px;
}
.about p 
{
    color: rgb(126, 123, 123);
    line-height: 1.8;
}
.about i 
{
    font-size: 20px;
    background-color: wheat ;
    color: #3FBFC0 ;
    
}
.about .options
{
    color: rgb(126, 123, 123);
    margin-left: 10px;
}
.about button
{
    width: 120px ;
    padding: 7px 15px ;
   background-color: #3FBFC0 ;
   color: white ;
   border: none ;
   border-radius: 50px ;
   transition: 0.3s;
}
.about button:hover
{
    background-color: #37b1b1;
    color: #fff ;
}
.image img
{
    width: 100% ;
    height: 80% ;
    padding-top: 140px;
}

/* end about and image  */ 


/*  start counter  */ 
.counts {
    padding: 30px 0;
  }
  
  .counts .counters span {
    font-size: 48px;
    display: block;
    color: #3FBFC0 ;
    font-weight: 700;
  }
  .counts .counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #4e5350 !important;
  }
  
/* end counter   */ 


/*  start mentor  */ 
.Mentor
{
    background-color: rgb(249, 250, 249);
}
.contact , .links
{
    padding-top: 30px ;
}
.Mentor span 
{
    font-weight: 600 ;
    color: rgb(110, 106, 106) !important;
}
.contact h3
{
  color: rgb(61, 59, 59);
  margin-bottom: 20px;
}
.contact p 
{
    color: rgb(126, 123, 123);
    max-width: 85% ;
}
.contact p span
{
    color: black ;
}
.links h5 
{
  color: rgb(61, 59, 59);
  margin-bottom: 20px;
  margin-left: 30px;
}
.links ul i 
{
    font-size: 15px ;
    color: #3FBFC0 ;
    display: inline-block;
}
.links ul li 
{
    display: inline-block ;
    list-style: none ;
    padding-left: 6px ;
    margin-bottom: 17px;
}
.links ul li a 
{
    text-decoration: none ;
    color: rgb(126, 123, 123) ;
}
/* end mentor */ 


/* start footer */ 
.footer
{
    padding-top: 30px;
    background-color:rgb(238, 240, 239) ;
}
.footer .copyright , .footer .social 
{
    padding-bottom: 20px;
}
.footer .copyright span
{
    color: rgb(126, 123, 123);
}
.footer .copyright b
{
    color: rgb(59, 56, 56);
}
.footer .copyright a
{
    color: #3FBFC0 ;
    text-decoration: none ;
    font-weight: bold;
}
.footer .social ul 
{
    float: right;
}
.footer .social li
{ 
    list-style: none ;
    float: left;
}
.footer .social i 
{
    font-size: 15px;
    color: white;
    background-color: #3FBFC0 ;
    margin-left: 12px ;
    border-radius: 50px 50px;
    padding: 10px ;
}
.footer .social i:hover
{
    background-color: rgb(238, 240, 239) ;
    transition: 0.3s;
}
.footer .social .one:hover
{
    color: rgb(42, 169, 224);
}
.footer .social .two:hover 
{
    color: rgb(66, 103, 178);
}
.footer .social .three:hover
{
    color: rgb(217, 54, 131);
}
.footer .social .four:hover
{
   color: rgb(1, 144, 212) ;
}
.footer .social .five:hover
{ 
     color: rgb(116, 169, 191) ;
}
/* end footer   */ 















@media screen and (max-width: 300px) 
{
    span.psw 
    {
       display: block;
       float: none;
    }
  }
  


  @media only screen and (max-width : 600px )
  {
      #header .nav-menu ul
      {
        margin-left: 45%;
      }
      #header .register
      {
          margin: 10px 0 10px 0;
      }

      .modal-content 
      {
        width: 80% !important;
        position: absolute;
        top: 20px !important; 
        left: 20px  !important; 
      }
      .btn-form
      {
        margin-left: 36% !important;
        margin-top: 80px;
        margin-bottom: 40px;
      }
      input[type=text], input[type=password] 
      {
        width: 90%;
      }

      .about , .image
      {
         margin-top: 50px;
         margin-left: 20px;
         margin-right: 20px;
      }
      .about .line 
      {
        width: 80px ;
      }
      .about h2 
      {
         padding-top: 10px;
         padding-bottom: 30px;
         font-weight: 700;
         font-size: 30px;
      }
      .about h3
      {
          font-weight: 500 ;
          font-size: 25px;
      }
      .about button
      {
         margin-left: 38%;
      } 
      .image img
      {
         width: 100% ;
         height: 90%;
         padding-top: 5px;
      }
  
      .contact 
      {
          padding-top: 30px ;
          margin-left: 30px;
      }
      .contact p 
      {
          max-width: 60% ;
      }
      .footer .copyright , .footer .social
      {
          padding-left: 20%;
      }
      .footer .social ul 
      {
          float: left ;
      }
      .footer .social ul li 
      {
          margin-bottom: 5px;
      }
  
  }
  
  
  @media only screen and (min-width : 600px ) and (max-width : 768px)
  {
      #header .nav-menu ul
      {
        margin-left: 45%;
      }
      #header .register
      {
          margin: 10px 0 10px 0;
      }
     
      .about , .image
      {
         margin-top: 50px;
         margin-left: 10px;
      }
      .about .line 
      {
        width: 100px ;
      }
      .about h2 
      {
         padding-top: 10px;
         padding-bottom: 30px;
         font-weight: 600;
         font-size: 28px;
      }
      .about h3
      {
          font-weight: 400 ;
          font-size: 26px;
      }
      .about button
      {
         margin-left: 38%;
         margin-top: 10px;
      } 
      .image img
      {
         width: 100% ;
         height: 90%;
         padding-top: 5px;
      }
      .footer .copyright , .footer .social 
      {
          padding-left: 20%;
      }
      .footer .social ul 
      {
          float: left;
      }
      .footer .social i 
      {
          margin-left: 10px ;
      }
      
  }
  
  
  @media only screen and (min-width : 768px ) and (max-width : 992px)
  {
      #header .nav-menu ul
      {
        margin-left: 5%;
      }
      .nav-menu ul li 
      {
         padding: 0 6px 0 6px;
      }
      .about , .image
      {
          margin-top: 40px;
          float: left;
      }
      .about .head
      {
          font-weight: 600;
      }
      .about p , .about h2 , .about span , .about h3 
      {
          max-width: 99%;
      }
      .about button
      {
          margin-left: 35% ;
      }
      .image img
      {
          width: 95% ;
          height: 80% ;
          padding-top: 5px;
      } 
  }
          
  
  @media only screen and (min-width : 992px ) 
  {
      #header .nav-menu ul
      {
        margin-left: 25%;
      }
  
      .about , .image
      {
          margin-top: 70px;
      }
      .about button
      {
          width: 120px ;
          padding: 7px 15px ;
      }
      .image img
      {
          width: 100% ;
          height: 80% ;
          padding-top: 140px;
      }
      
  }